.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/*****************************************Customize CSS************************************/

.like-5 {
  font-size: 25px;
  color: #0561F2;
}

.like-icon {
  font-size: 40px;
  cursor: pointer;
}

.like-color {
  color: #0561F2;
}

.dislike-color {
  color: #282c34;
}

.icon-p {
  /* border: 2px solid whitesmoke; */
  font-size: 20px;
  /* justify-content: space-between; */
}

.icon {
  font-size: 25px;
  cursor: pointer;
}